<!-- popup.component.html -->
<h2 mat-dialog-title>Sign up</h2>
<div class="signup-popup">
    <mat-dialog-content>
        <!-- Popup content goes here -->
        <div class="row">
          <div class="col-md-3">
              <label>User Name</label>
          </div>
          <div class="col-md-6">
              <input type="text">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
              <label>Password</label>
          </div>
          <div class="col-md-6">
              <input type="password">
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <label>Confirm Password</label>
            </div>
            <div class="col-md-6">
                <input type="password">
            </div>
          </div>
        
      </mat-dialog-content>
      <mat-dialog-actions>
        <button class="btn btn-success" style="margin-left: 15em;margin-top: 20px;" mat-dialog-close>Sign up</button>
      </mat-dialog-actions>
</div>

