<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Resume</title>
</head>
<body id="contentToDownload" #contentToDownload>
    <!-- <form class="form-style" #myForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="div-style">
            <label class="label-style">Name</label>
            <input type="text" [(ngModel)]="Name" name="Name">
        </div>
        <div>
            <div class="div-style">
                <label class="label-style">DOB</label>
                <input type="date" [(ngModel)]="dob" name="dob" style="margin-left: 10px;">
            </div>
        </div>
        <div>
            <label class="label-style" style="align-self: center;">Skills</label>
            <input type="text" [(ngModel)]="skill" name="skill" style="padding-right: 20px; width: 190px !important;">
            <button class="btn btn-primary btn-style" (click)="addSkill()">Add</button>
        </div>
        <ul *ngIf="skills != null">
            <li *ngFor="let item of skills | keyvalue">{{ item.value }}</li>
        </ul>
        <div style="padding-left: 150px;">
            <button style="text-align: center;" class="btn btn-success">Save</button>
        </div>
    </form> -->
<app-theme1></app-theme1>
</body>
</html>